<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1><a href="/" class="btn btn-light">Voltar</a>
        <p><%= pergunta.descricao %></p>
        <hr>
    </div>

</body>
<%- include('partials/footer') %>